*.txt
.env
.env.backup
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/app/public/client-files
/storage/app/public/documentos-empresa
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log